{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<body style="background-color: antiquewhite;">
<br><br>
{% if app.user %}
<div style="text-align:center"><h1><b>Bonjour {{ app.user.prenom }}</b></h1></div>
{% else %}
<div style="text-align:center"><h1><b>Bonjour  Visiteur</b></h1></div>
{% endif %}
<br><br>
<div>
    <div class=" video-container d-flex justify-content-center couleur-navigation">
        <video id="myVideo" class="d-block video" width="1200" height="600" autoplay muted controls loop>
          <source src="{{ asset('video/pizza_-_176 (360p).mp4') }}" type="video/mp4">
          Votre navigateur ne prend pas en charge la lecture de vidéos HTML5.
        </video>
        <br><br>
      </div>
    </div>
    <br><br>
  </body>
      <div class="d-flex justify-content-center align-items-center couleur-navigation carousel-item">
        <!--Corps de la page avec le slogan ainsi que quelques images-->
        <ul class="nav-link"><u class="fs-1" style="color:black"><h1 style="color:black; text-align:center">Large choix sur vos produits ! </h1></u>
          <p class="fs-4" style="color:black; text-align:center">Bienvenue dans l'ère culinaire de The District :</p>
          <p style="color:black; text-align:center">une fusion exquise de saveurs rapides et de satisfaction gourmande,
            où chaque bouchée vous transporte vers un monde de délices.
        </ul>
      </div><!--Corps de la page avec le slogan-->
<br><br><br><br><br><br><br>

{% endblock %}